<% include header %>
<!-- <% if (entries.length) { %>
  <% entries.forEach(function(entry) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-muted pull-right">
          <%= entry.published %>
        </div>
        <%= entry.title %>
      </div>
      <div class="panel-body">
        <%= entry.body %>
      </div>
    </div>
  <% }) %>
<% } else { %>   No entries! <a href="/new-entry">Add one!</a>
<% } %> -->
<a target="_blank" href="https://accounts.google.com/signin/oauth/identifier?client_id=407408718192.apps.googleusercontent.com&as=herztbQj65i4w-bCgvQdhA&destination=https%3A%2F%2Fdevelopers.google.com&approval_state=!ChRhMWhUOVhUN2JYNkdsNTA2VVVqWRIfdzd0R3E1VEtvdzRXc0NEZU1wUEotOWJKbk5pLWRSWQ∙APNbktkAAAAAXABGoZ1onTTjAEcpk8u4uf-qFEAz38Dc&oauthgdpr=1&xsrfsig=AHgIfE8ro9fN1Rzh3L040OGVdiG8r0wphw&flowName=GeneralOAuthFlow">Get your access token!</a>
<% include footer %>