<% include header %>

<h2>Write a new entry</h2>

<form method="post" role="form">
  <div class="form-group">
    <label for="id">Your ID</label>
    <input type="text" class="form-control" id="id" name="id" placeholder="id" required>
  </div>
  <div class="form-group">
    <label for="Auth Token">Title</label>
    <input type="text" class="form-control" id="auth" name="auth" placeholder="auth token" required>
  </div>
  <div class="form-group">
    <label for="vid">Vendor ID</label>
    <input type="text" class="form-control" id="vid" name="vid" placeholder="vendor id" required>
  </div>
  <div class="form-group">
    <label for="amt">Amount</label>
    <input type="text" class="form-control" id="amt" name="amt" placeholder="amount" required>
  <div class="form-group">
    <input type="submit" value="Post entry" class="btn btn-primary">
  </div>
</form>

<% include footer %>
